---
layout: "base.njk"
---

<div class="radiance-container">
    <div class="thumbnail-container">
        <img src="{{ image }}" alt="{{ imageAlt }}">
    </div>
    <article>
        <h1 class="main-title"> {{ title }}</h1>
        {% if author %}
          <div class="author">
            <p><b>By {{ author }}</b></p>
          </div>
        {% endif %}
        {{ content | safe }}
    </article>
    {# utterances comment section #}
    <script
        id="comments-section"
        src="https://utteranc.es/client.js"
        repo="CondensedMilk7/pridontetradze.com"
        issue-term="title"
        label="Comment"
        theme="dark-blue"
        crossorigin="anonymous"
        async>
    </script>
</div>
