<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[TITLE]</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/src/styles/main.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/tokyo-night-dark.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </head>

  <body>
    <main>
      <div class="radiance-container">
        <div class="thumbnail-container">
          <img src="[IMAGE]" alt="[IMAGE_ALT]" />
        </div>
        <article>
          <h1 class="main-title">[TITLE]</h1>
          [CONTENT]
        </article>
      </div>
    </main>
  </body>
</html>
