@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./elements/home.css");
@import url("./elements/article.css");
@import url("./elements/header.css");
@import url("./elements/footer.css");
@import url("./animations.css");

:root {
  --bg-dark: #0f0f11;
  --fg-dark: #dfe9f3;
  --green-dark: rgb(187, 255, 202);
  --blue-dark: rgb(166, 188, 255);
  --purple-dark: rgb(202, 166, 255);
  --gray-dark: rgb(41, 35, 49);
  --gray-dark-lifted: rgb(87, 75, 104);

  --bg-light: rgb(235, 232, 223);
  --fg-light: rgb(32, 32, 30);
  --green-light: rgb(182, 59, 110);
  --blue-light: rgb(79, 97, 149);
  --purple-light: rgb(93, 68, 131);

  --bg-transition: background-color 250ms ease;
  --scrllbar-thicc: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 4rem;
}

body {
  font-family: "JetBrains Mono", "Noto Sans Georgian", monospace;
  background-color: var(--bg-dark);
  color: var(--fg-dark);
  scroll-behavior: smooth;
}

.bg-transition {
  transition: var(--bg-transition);
}

body.light {
  background-color: var(--bg-light);
  color: var(--fg-light);
}

a {
  color: var(--blue-dark);
  transition: color 200ms ease;
}

article h1 a,
article h2 a,
article h3 a,
.light article h1 a,
.light article h2 a,
.light article h3 a {
  color: inherit;
  text-decoration: none;
}

.light a {
  color: var(--blue-light);
}

a:hover {
  color: var(--green-dark);
}

.light a:hover {
  color: var(--green-light);
}

.opaque {
  background-color: inherit;
}

.radiance-container {
  min-height: 100vh;
  background: radial-gradient(
    farthest-corner at 100% 100%,
    rgba(42, 21, 74, 0.6) 22%,
    rgba(42, 20, 74, 0.45) 32%,
    var(--bg-dark) 60%
  );
  background-size: 200%;
  background-attachment: fixed;
}

.light .radiance-container {
  background: radial-gradient(
    farthest-corner at 100% 100%,
    rgb(255, 225, 143) 22%,
    rgba(218, 211, 118, 0.116) 32%,
    var(--bg-light) 60%
  );
  background-size: 200%;
  background-attachment: fixed;
}

.entries {
  padding: 2rem 1rem 3rem 2vmax;
  list-style: none;
  max-width: 52rem;
}

.projects-section {
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: 60vw 20vh;
  background-attachment: fixed;
}

.entry {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  padding-left: 1rem;
  border-left: 2px solid rgb(233, 160, 233);
  box-shadow: -6px 0 4px -5px violet;
  border-radius: 4px;
}

.light .entry {
  border-left: 2px solid rgb(141, 75, 146);
  /* box-shadow: -6px 0 4px -5px rgb(141, 75, 146); */
  box-shadow: none;
}

.entry:nth-child(even) {
  border-left: 2px solid rgb(160, 227, 233);
  box-shadow: -6px 0 4px -5px rgb(130, 209, 238);
}

.light .entry:nth-child(even) {
  border-left: 2px solid rgb(68, 139, 145);
  /* box-shadow: -6px 0 4px -5px rgb(68, 139, 145); */
  box-shadow: none;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  position: absolute;
}

::-webkit-scrollbar {
  width: var(--scrllbar-thicc);
  height: var(--scrllbar-thicc);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-dark);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-dark-lifted);
}

@media (max-width: 650px) {
  html {
    scroll-padding-top: 6rem;
  }
  body {
    font-size: 14px;
  }
  .main-header {
    display: block;
  }

  .main-header ul {
    justify-content: flex-end;
  }

  .projects-section {
    background-position: 100% 40%;
  }

  .not-found-container img {
    width: 90%;
  }
}

@media print {
  .utterances {
    display: none;
  }
}
