.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* background-color: inherit; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  transition: var(--bg-transition);
}

.path .blinker {
  opacity: 0;
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.main-header .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#theme-switch {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
  /* margin-left: 2rem; */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-switch svg {
  width: 1.3rem;
  height: 1.3rem;
}

.main-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: var(--fg-dark);
}

.light .nav-link {
  color: var(--fg-light);
}

.nav-active {
  color: var(--blue-dark);
}

.light .nav-active {
  color: var(--blue-light);
}

@media print {
  .main-header {
    display: none;
  }
}
