<footer class="site-footer">
  <div class="site-footer__inner container">
    <span>&copy; {% year %}</span>
    <span class="prayer geo">
      <span class="cross" aria-hidden="true">{%- include "cross.njk" -%}</span>
      ᲣᲤᲐᲚᲝ ᲨᲔᲒᲕᲘᲬႸᲐᲚᲔᲜ
    </span>
  </div>
</footer>
