---
layout: "base.njk"
title: "Home"
description: "Web developer | Psychologist"
image: "/assets/images/cover.jpg"
---
<div id="particles-js"></div>
<div class="blur-background">
  <div class="greeting-container">
    <h1>Hi, my name is <span class="my-name">Pridon</span>.</h1>
    <h1>I like:</h1>
    <div class="i-like">
      <h1 class="text-glitch" data-value="learning">learning</h1>
      <h1 class="text-glitch" data-value="creating">creating</h1>
      <h1 class="text-glitch" data-value="teaching">teaching</h1>
    </div>
  </div>
</div>
