---
title: Music
layout: "base.njk"
description: "Showcase of my music"
image: "/assets/images/cover.jpg"
---

<div class="radiance-container">
  <div class="music-container">
    <h3>Here's to hoping that I might pick up music-making hobby again.</h3>
    <p>There are some old tracks of mine on <a href="https://soundcloud.com/user-25318464" target="_blank">SoundCloud</a>.</p>
    <ul id="music-list" class="entries"></ul>
  </div>
</div>
