---
title: projects
layout: "base.njk"
description: "Showcase of my projects."
image: "/assets/images/cover.jpg"
---

<div class="radiance-container">
    <section class="projects-section angular">
        <ul class="entries">
            <li class="entry">
                <h2><a href="https://github.com/CondensedMilk7/todo-fullstack" target="_blank">Full-stack Demonstration</a></h2>
                <p>A little demonstration of my skills using Angular & Nest, featuring all the principles that make up a CRUD app.</p>
            </li>
            <li class="entry">
                <h2><a href="https://www.youtube.com/playlist?list=PLvlLyfXTKx9Wb6f2Tzu4UPSnXsQOUnsKr" target="_blank">Angular Lessons in Georgian</a></h2>
                <p>
                    I was the first to ever publish the structured series of Angular lessons in Georgian.
                    The idea to do it came up spontaneously, but I've been doing it ever since. 
                </p>
            </li>
        </ul>
    </section>
    <section class="projects-section cli">
        <ul class="entries">
            <li class="entry">
                <h2><a href="https://github.com/CondensedMilk7/countryfetch-deno" target="_blank">Countryfetch (Deno)</a></h2>
                <p>
                    A CLI tool I made for fun in order to explore Deno. It fetches information about countries
                    and displays ASCII flag art. It gained a fair bit of popularity too.
                </p>
            </li>
            <li class="entry">
                <h2><a href="https://github.com/CondensedMilk7/countryfetch" target="_blank">Countryfetch (Go)</a></h2>
                <p>The same idea as its Deno counterpart, but faster and cooler! This was an opportunity to learn Go.</p>
            </li>
            <li class="entry">
                <h2><a href="https://github.com/CondensedMilk7/canpress" target="_blank">CanPress</a></h2>
                <p>
                    R-Markdown style academic press for the web. This is a collection of markdown-it libraries integrated together
                    for the purpose of my (and hopefully others') academic writing needs.
                </p>
            </li>
        </ul>
    </section>
    <section class="projects-section psych">
        <ul class="entries">
            <li class="entry">
                <h2><a href="https://primordialsoup.info" target="_blank">Primordial Soup</a></h2>
                <p>My web project where I publish academic style articles and video essays for anyone to explore.</p>
            </li>
            <li class="entry">
                <h2><a href="https://youtu.be/cBYW_KiY19A" target="_blank">Alternate Unconscious: Uznadze's Theory of Set</a></h2>
                <p>
                    Many psychology scholars do not know the gravity of Uznadze's work which is the rare case of successfully studying
                    unconscious with experimental methodology. This was my extensive attempt, with the help from my professors, to bring
                    this important Georgian scientific legacy to a larger audience.
                </p>
            </li>
            <li class="entry">
                <h2><a href="https://www.youtube.com/watch?v=4kxZsWLi-04" target="_blank">The Split Subject: Lacanian Psychoanalysis</a></h2>
                <p>An exploration of Lacan's concept of subject which is integral to understanding psychoanalytic practice and ethics.</p>
            </li>
            <li class="entry">
                <h2><a href="https://youtu.be/ntwK9z8jX5k" target="_blank">Blindingly Bright Side: The Problem of Positive Psychology</a></h2>
                <p>
                    It is not all "rainbows and butterflies" in the world of positive psychology.
                    This critique sheds light on some of its flawed epistemology.
                </p>
            </li>
        </ul>
    </section>
</div>